<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="cis340" connectionString="Server=cnmtsrv1; Database=enquade; User Id=enquade; Password=qU|h15]=Yl" />
        <add name="school.Properties.Settings.enquadeConnectionString"
            connectionString="Data Source=cnmtsrv1;Initial Catalog=enquade;Persist Security Info=True;User ID=enquade;Password=&quot;qU|h15]=Yl&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>